<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view" style="display: inline-flex; width: 100%">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label style="width: 80%">{{todo.title}}</label>
          <label style="width: 20%;">{{todo.startdate}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>
<!--<section class="todoapp">-->
  <!--<header class="header">-->
    <!--<h1>Todos</h1>-->
    <!--<input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">-->
  <!--</header>-->
  <!--<section class="main" *ngIf="todos.length > 0">-->
    <!--<ul class="todo-list">-->
      <!--<li *ngFor="let todo of todos" [class.completed]="todo.complete">-->
        <!--<div class="view">-->
          <!--<input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">-->
          <!--<label>{{todo.title}}</label>-->
          <!--<button class="destroy" (click)="removeTodo(todo)"></button>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</section>-->
  <!--<footer class="footer" *ngIf="todos.length > 0">-->
    <!--<span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>-->
  <!--</footer>-->
<!--</section>-->



<!--<section class="todoapp">-->
  <!--<header class="header">-->
    <!--<h1 style="color: lightgreen;">&#8251; TodoApp &#8251;></h1>-->
    <!--<input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">-->
  <!--</header>-->
  <!--<section class="main" *ngIf="todos.length > 0 && newTodo.title != null">-->
    <!--<ul class="todo-list">-->
      <!--<li *ngFor="let todo of todos" [class.completed]="todo.complete">-->
        <!--<div class="view">-->
          <!--<input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete" style="font-color: red">-->
          <!--<label>{{todo.title}}-->
            <!--<label *ngIf="!todo.complete" style="float: right; margin-right: 35px; padding: 0px 23px; color: lightslategray;">{{todo.created_at | date:"hh:mm:ss"}}</label>-->
            <!--<label *ngIf="todo.complete" style="float: right; margin-right: 35px; padding: 0px 23px; color: lightslategray;">{{todo.modified_at | date:"hh:mm:ss" }}</label>-->
          <!--</label>-->
          <!--<button class="destroy" (click)="removeTodo(todo)"></button>-->
        <!--</div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</section>-->
  <!--<footer class="footer" *ngIf="todos.length > 0">-->
    <!--<span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>-->
  <!--</footer>-->
<!--</section>-->
