<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero===selectHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>
<app-data-detail [hero]="selectHero">

</app-data-detail>
<!--<div *ngIf="selectHero">-->
  <!--<h2>{{selectHero.name}} details</h2>-->
  <!--<div><label>id:</label>{{selectHero.id}}</div>-->
  <!--<div>-->
    <!--<label>name:</label>-->
    <!--<input [(ngModel)]="selectHero.name" placeholder="name"/>-->
  <!--</div>-->
<!--</div>-->
